include AUTHORS
include README.rst
include ChangeLog
include LICENSE
include neutron_lbaas/db/migration/alembic_migrations/script.py.mako
recursive-include neutron_lbaas/db/migration/alembic_migrations/versions *

exclude .gitignore
exclude .gitreview

global-exclude *.pyc
