{
  "context_is_admin": "role:admin",
  "context_is_advsvc": "role:advsvc",
  "default": "rule:admin_or_owner",
  "create_loadbalancer": "",
  "update_loadbalancer": "",
  "get_loadbalancer": "",
  "delete_loadbalancer": "",
  "create_listener": "",
  "get_listener": "",
  "delete_listener": "",
  "update_listener": "",
  "create_pool": "",
  "get_pool": "",
  "delete_pool": "",
  "update_pool": "",
  "create_healthmonitor": "",
  "get_healthmonitor": "",
  "update_healthmonitor": "",
  "delete_healthmonitor": "",
  "create_pool_member": "",
  "get_pool_member": "",
  "update_pool_member": "",
  "delete_pool_member": ""
}